*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.attribution{
    color: #fff;
}

:root{
    --blue: hsl(246, 80%, 60%);
    --lights-red: hsl(15, 100%, 70%); /* work */
    --soft-blue : hsl(195, 74%, 62%); /* play */
    --light-red: hsl(348, 100%, 68%); /* study */
    --lime-green: hsl(145, 58%, 55%); /* exercise */
    --violet: hsl(264, 64%, 52%); /* social */
    --soft-orange: hsl(43, 84%, 65%); /* self care */
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
}

html{
    font-family: 'Rubik', sans-serif;
}

/* =================================================================*/
body{
    background-color: var(--very-dark-blue);
    font-family: 'Rubik', sans-serif; 
}

.whale-section{
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.2rem;
}

.content{
    width: 100%;
}

.content__head{
    background-color: var(--dark-blue);
    border-radius: 0.5rem;
}

.person__information{
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

}

#user-photo{
    width: 3rem;
    border: 2px solid #fff;
    border-radius: 50%;
}

.person__name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.person__name p{
    color: var(--pale-blue);
    font-size: 10px;
    
}

.person__name h3{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    
}

.person__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.person__list li{
    list-style-type: none;
    cursor: pointer;
    color: var(--desaturated-blue);
    font-size: 12px;
}

.person__list li:hover{
    color: #fff;
}

.active{
    color: #fff !important;
}

.content__timecard{
    display: block;
}

.content__time-section{
    width: 100%;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.content__block{
    background-color: var(--dark-blue);
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}
.content__block:hover{
    background-color: hsl(236, 41%, 34%);
}

.time__header{
    padding: 0 -0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time__title{
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}

.time__points{
    cursor: pointer;
}

.time__bottom{
    padding: 0 -0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time__hours{
    color: #fff;
    font-weight: 300;
    font-size: 22px;
}

.time__previous{
    color: var(--pale-blue);
    font-size: 10px;
}

#work{
    background-color: var(--lights-red);
    padding-top: 0.8rem;
    background-image: url(./images/icon-work.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 167px -7px;
}

#play{
    background-color: var(--soft-blue);
    padding-top: 0.8rem;
    background-image: url(./images/icon-play.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 167px -7px;
}

#study{
    background-color: var(--light-red);
    padding-top: 0.8rem;
    background-image: url(./images/icon-study.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 167px -7px;
}

#exercise{
    background-color: var(--lime-green);
    padding-top: 0.8rem;
    background-image: url(./images/icon-exercise.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 167px -4px;
}
#social{
    background-color: var(--violet);
    padding-top: 0.8rem;
    background-image: url(./images/icon-social.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 167px -7px;
}
#selfcare{
    background-color: var(--soft-orange);
    padding-top: 0.8rem;
    background-image: url(./images/icon-self-care.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 167px -7px;
}

@media (min-width: 768px) {
    .content{
       display: grid;
       grid-template-columns: 48% 48%;
       gap: 0.5rem;
    }

    .content__head {
        grid-column: 1 / span 2;
    }

    .time__bottom{
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1200px) {
    .content{
        width: 77%;
        grid-template-columns: 23% 23% 23% 23%;
        gap: 1rem;
     }
    .content__head{
        margin-top: 1rem;
        grid-row: 1 / span 2;
        grid-column: unset;
        height: 22rem;
    }

    .person__information{
        height: 65%;
        display: block;
        padding: 1rem;
    }

    .person__information img{
        margin-top: 1.2rem;
    }


    .person__name{
        margin-top: 2rem;
        width: 5rem;
    }

    .person__list{
        display: block;
        margin-top: -0.8rem;
    }

    .person__list li{
        padding-top: 1.2rem;
    }

   .content__time-section{
       height: 10rem;
   }

   .content__block{
       height: 8.2rem;
   }

   .time__header{
       margin-top: 0.5rem;
   }

   .time__bottom{
       margin-top: 1rem;
   }

   .time__hours{
       font-size: 2rem;
   }

   .time__previous{
       padding-top: 0.5rem;
   }

   #work{
    background-position: 112px -4px;
    }

    #play{
        background-position: 112px -4px;
    }

    #study{
        background-position: 112px -4px;
    }

    #exercise{
        background-position: 112px 1px;
    }
    #social{
        background-position: 112px -4px;
    }
    #selfcare{
        background-position: 112px -4px;
    }

}